<%= form_for [@project,@userproject] do |f| %>
  <%= f.error_messages %>
  <% for user in @user %>
    
      <%= check_box_tag "user_ids[]", user.id %>
      <%= user.name %>
      </br>
  <% end %>
  </br>
  <%= f.label :role %>
  <%= f.select :role, ["Owner", "Manager", "Member", "Developer"] %>
  <p><%= f.submit "Add Members" %></p>
<% end %>
