<% title @project.project_name %>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
  </tr>
  <% for userproject in @userprojects %>
    <tr>
      <td><%= userproject.user.name %></td>
      <td><%= userproject.role %></td>
      <td><%= link_to "Show", project_userproject_path(@project, userproject) %></td>
      <td><%= link_to "Edit", edit_project_userproject_path(@project, userproject) %></td>
      <td><%= link_to "Destroy", project_userproject_path(@project, userproject), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add Members", new_project_userproject_path %> | <%= link_to "Back to Project", project_path(@project) %></p>
