<% title "Userproject" %>

<p>
  <strong>User:</strong>
  <%= @userproject.user_id %>
</p>
<p>
  <strong>Project:</strong>
  <%= @userproject.project_id %>
</p>
<p>
  <strong>Role:</strong>
  <%= @userproject.role %>
</p>
<p>
  <strong>Role Description:</strong>
  <%= @userproject.role_description %>
</p>

<p>


  <%= link_to "Edit", edit_project_userproject_path(@project, @userproject) %> |
  <%= link_to "Destroy", project_userproject_path(@project, @userproject), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_userprojects_path(@project) %> |
</p>
