<h1>Hello! <%= current_user.name %></h1>
<p>You are signed in as <%= current_user.role %></p>

<br>
<br>
<% if can?(:manage, current_user) %>
  <div id="user_list">
  <h2> Users in the System </h2>
  <%= link_to "Add a User", new_system_user_path %>
   
  <% User.all.each do |user| %>
    <li><%= user.name %> : <%= user.role %> <%= link_to "Edit", edit_system_user_path(user) %></li><br>
  <% end %>
<% end %>
</div>
