<% title "Ratings" %>

<table>
  <tr>
    <th>Story</th>
    <th>User</th>
    <th>Value</th>
  </tr>
  <% for rating in @ratings %>
    <tr>
      <td><%= rating.story_id %></td>
      <td><%= rating.user_id %></td>
      <td><%= rating.value %></td>
      <td><%= link_to "Show", rating %></td>
      <td><%= link_to "Edit", edit_rating_path(rating) %></td>
      <td><%= link_to "Destroy", rating, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Rating", new_rating_path %></p>
