

<div id=release_menu>
<%= form_for [@project,@release], :remote=>true do |f| %>
  <%= f.error_messages %>
  
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  
  
    Release Now?<%= check_box_tag 'release_query', 'yes', false %>
  
<%= f.submit %>
<% end %>
</div>
