  <p><a id = "new_proj">New Project</a></p>
<%= form_for @project, :remote=>true do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </p>
  <p>
    <%= f.label :project_description %><br />
    <%= f.text_field :project_description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
