<p>
<button id = "new_proj" class='button'> 
        <img src='/images/Button-Add-icon.png' /> 
        New Project
    </button>
</p>
<div id="project_menu">
  <%= form_for @project, :remote=>true do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :project_name %><br />
      <%= f.text_field :project_name %>
    </p>
    <p>
      <%= f.label :project_description %><br />
      <%= f.text_area :project_description, :rows => "6px"%>
    </p>
    <p><%= f.submit %></p>
  <% end %>
</div>
