<% title "Project" %>

<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
<<<<<<< HEAD
  <%= link_to "Back to Project Page", projects_path %> |
  <%= link_to "New Story", new_project_story_path(@project) %>
=======
  <%= link_to "View All", projects_path %> | 
  <%= link_to "Releases", project_releases_path(@project) %> |
  <%= link_to "Stories", project_stories_path(@project) %> |
  <%= link_to "Members", project_userprojects_path(@project) %>
>>>>>>> 581545d6d770283071329a690336e81907f3e744
</p>

<h2> Releases </h2>

<table border=1>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Date Released</th>
  </tr>
  <% for release in @releases %>
    <tr>
      <td><%= release.project_id %></td>
      <td><%= release.name %></td>
      <td><%= release.date_released %></td>
      <td><%= link_to "Show", project_release_path(@project, release) %></td>
      <td><%= link_to "Edit", edit_project_release_path(@project, release) %></td>
      <td><%= link_to "Destroy", project_release_path(@project, release), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Release", new_project_release_path(@project) %>
