<% title "Project" %>
<div id="project" data-id="<%= @project.id %>">
<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <%= link_to_if(can?(:update,Project), "Edit |", edit_project_path(@project)){} %>
  <%= link_to_if(can?(:delete,Project), "Destroy |", @project, 
                      :confirm => 'Are you sure?', 
                      :method => :delete){} %>
  <%= link_to_if(can?(:create,Story), "New Story |", new_project_story_path(@project)){} %>
  <%= link_to_if(can?(:manage,current_user), "Members |", project_userprojects_path(@project)){}%>
  <%= link_to "Back to Project Page", projects_path %>
</p>

<p>
<h3> Your role/s  in this project </h3> 
     <% current_user.project_role?(@project).each do |role| %>
     <li><h4><%=role%></h4></li>
     <% end %>
</p>
</div>

<% if can?(:manage, Release) %>
  <%= render 'form_release' %>
<% end %>
<h2> Releases </h2>
<div>
<table>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Date Released</th>
  </tr>
  
  <table id="release_table">
    <%= render @project.releases %>
   </table>
</table>

<%= will_paginate(@releases) %>
</div>
<div>
<% if can?(:manage,Story) %>
<h2> Backlog List </h2>
  <%= render 'backlog' %>
<% end %>
</div>

<div id="right-sidebar">
 <% unless @project.logs.empty? %>
    <div id="logs">
      <%= render @project.logs %>
    </div>
  <% end %>
</div>


