<% title "Project" %>

<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %> | 
  <%= link_to "Releases", project_releases_path(@project) %> |
  <%= link_to "Stories", project_stories_path(@project) %>
</p>
