<% title "Project" %>

<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Project Page", projects_path %> |
  <%= link_to "New Story", new_project_story_path(@project) %> |
  <%= link_to "Members", project_userprojects_path(@project) %>

</p>

<h2> Releases </h2>
  <%= render 'release' %>
<%= link_to "New Release", new_project_release_path(@project) %>

<h2> Backlog List </h2>
  <%= render 'backlog' %>
  
<h2> Project Log </h2>
  <%= render 'log' %>

