<% title "Project" %>
<div class = "transbox" id="project" data-id="<%= @project.id %>">
<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
 <%= link_to_if(can?(:update,Project), ("<input type=button  class='button' value='Edit'>").html_safe, edit_project_path(@project)){} %>
  <%= link_to_if(can?(:delete,Project), ("<input type=button  class='button' value='Delete'>").html_safe, @project, 
                      :confirm => 'Are you sure?', 
                      :method => :delete){} %>
  <%= link_to_if(can?(:create,Story), ("<input type=button  class='button' value='New Story'>").html_safe, new_project_story_path(@project)){} %>
  <%= link_to_if(can?(:manage,current_user), ("<input type=button  class='button' value='Members'>").html_safe, project_userprojects_path(@project)){}%>
  <%= link_to ("<input type=button  class='button' value='Back'>").html_safe, projects_path %>
</p>

<p>
<h3> Your role/s  in this project </h3> 
     <% current_user.project_role?(@project).each do |role| %>
     <li><h4><%=role%></h4></li>
     <% end %>
</p>


</div>

<% if can?(:manage, Release) %>
  <%= render 'form_release' %>
<% end %>
<h2> Releases </h2>
<div>

<table>
  <tr >
    <th>Name</th>
    <th>Date Released</th>
    <th colspan="3">Actions</th>
  </tr>
  
  <table id="release_table">
    <%= render @project.releases %>
   </table>
</table>

<%= will_paginate(@releases) %>
</div>
<div>
<% if can?(:manage,Story) %>
<h2> Backlog List </h2>
  <%= render 'backlog' %>
<% end %>
</div>



