<% title "Project" %>

<p>
  <strong>Creator:</strong>
<%= User.find(@project.user_id).name %>
</p>
<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>
<p>
  <strong>Project Description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Project Page", projects_path %> |
  <%= link_to "New Story", new_project_story_path(@project) %> |
  <%= link_to "Members", project_userprojects_path(@project) %>
</p>

<p>
<h3> Your role/s  in this project </h3> 
     <%= current_user.project_role?(@project) %>
</p>
<%= render 'form_release' %>
<h2> Releases </h2>
<div>
<%= render 'release' %>
<%= will_paginate(@releases) %>
</div>
<div>
<h2> Backlog List </h2>

  <%= render 'backlog' %>
  
<h2> Project Log </h2>
  <%= render 'log' %>

</div>
