<%= form_for @story do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :release_id %><br />
    <%= f.text_field :release_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :story_name %><br />
    <%= f.text_field :story_name %>
  </p>
  <p>
    <%= f.label :story_description %><br />
    <%= f.text_field :story_description %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p><%= f.submit %></p>
<% end %>
