<%= form_for [@project,@story] do |f| %>
  <%= f.error_messages %>
  <p>
    Release: <%= select_tag "release", options_for_select(@releases.map {|u| u.name}), :include_blank => true %>
  </p>
  <p>
    Priority: <%= f.select "priority", options_for_select(@priority_values) %>
  </p>
  <p>
    Status: <%= f.select "status", options_for_select(@status_values) %>
  </p>
  <p>
    <%= f.label :story_name %><br />
    <%= f.text_field :story_name %>
  </p>
  <p>
    <%= f.label :story_description %><br />
    <%= f.text_area :story_description %>
  </p>
  <p>
    <%= label_tag :tags %><br />
    <%= text_area_tag :tags, @tags %>
  </p>
  <p><%= f.submit %></p>
<% end %>
