<% title "Story" %>

<p>
  <strong>Release:</strong>
  <%= @story.release_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @story.priority %>
</p>
<p>
  <strong>Story Name:</strong>
  <%= @story.story_name %>
</p>
<p>
  <strong>Story Description:</strong>
  <%= @story.story_description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>

<p>
  <%= link_to "Edit", edit_project_story_path(@story) %> |
  <%= link_to "Destroy", project_story_path(@project,@story), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Release [#{@story.release.name}] Page", project_release_path(@project, @story.release )rescue
      link_to "Back to Project [#{@project.project_name}] Page", project_path(@project)%>
</p>

<%= render 'comment' %>
