<% title "Story" %>

<% if @rated %>
<%= form_tag project_story_ratings_path(@project, @story) ,:method=>"Post", :remote=>true, :class => 'rate_form' do%>
  <div class="form_row">
      <label for="theme">Rating:</label>
      <% [ '1', '2', '3', '4', '5' ].each do |rate| %>
        <%= radio_button_tag 'rate', rate, @rate == rate %>
        <%= rate.humanize %>
      <% end %>
       <p><%= submit_tag "Rate"%></p>
  </div>
<% end %>
<% end %>

<p>
  <strong>Release:</strong>
  <%= @story.release_id %>
</p>
<p>
  <strong>Assigned To:</strong>
  <% if @story.user!= nil  %>
    <%= @story.user.name %>
  <% end %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @story.priority %>
</p>
<p>
  <strong>Story Name:</strong>
  <%= @story.story_name %>
</p>
<p>
  <strong>Story Description:</strong>
  <%= @story.story_description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>
<p>
  <strong>Average rating:</strong>
  <%= @average  %>
</p>
<p>
  <strong>Tags</strong>
  <%= @tags %>
</p>
<p>
<% if @story.release.date_released == nil %>
  <%= link_to_if(can?(:update,Story),"Edit |", edit_project_story_path(@project, @story)){} %>
  <%= link_to_if(can?(:delete,Story),"Destroy |", project_story_path(@project,@story), 
                      :confirm => 'Are you sure?', 
                      :method => :delete){} %>
<% end %>
  <%= link_to "Back to Release [#{@story.release.name}] Page", project_release_path(@project, @story.release )rescue
      link_to "Back to Project [#{@project.project_name}] Page", project_path(@project)%>
</p>
<p>
 <% if !(can?(:update, Story)) %>
    <% if @story.status == "hold" %>
      <%= link_to "Start", project_story_start_path(@project,@story)%> 
    <% elsif @story.status == "start" %>
      <%= link_to "Finish", project_story_finish_path(@project,@story)%>
      <%= link_to "Hold", project_story_hold_path(@project,@story)%>
    <% end %>
 <% end %>

 <% if @story.status == "finish" %>
   <%= link_to_if(can?(:update,Story), "Accept", project_story_accept_path(@project,@story)){}%>
   <%= link_to_if(can?(:update,Story), "Reject", project_story_reject_path(@project,@story)){}%>
 <% end %>
</p>
<%= render 'comment' %>
