<%= form_for [@project,@release] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date_released %><br />
    <%= f.datetime_select :date_released %>
  </p>
  <p><%= f.submit %></p>
<% end %>
