<table border = 3>
  <tr>
    <th>Release</th>
    <th>User</th>
    <th>Priority</th>
    <th>Story Name</th>
    <th>Story Description</th>
    <th>Status</th>
  </tr>
  <% for story in @stories %>
    <tr>
      <td><%= story.release_id %></td>
      <td><%= story.user_id %></td>
      <td><%= story.priority %></td>
      <td><%= story.story_name %></td>
      <td><%= story.story_description %></td>
      <td><%= story.status %></td>
      <td><%= link_to"Show", project_story_path(@project, story) %></td>
      <td><%= link_to_if(can?(:update,Release),"Edit", edit_project_story_path(@project, story)){} %></td>
      <td><%= link_to_if(can?(:delete,Release),"Destroy", project_story_path(@project, story), 
                              :confirm => 'Are you sure?', 
                              :method => :delete){} %></td>
    </tr> 
  <% end %>
</table>
