<% title "Releases" %>

<table>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Date Released</th>
  </tr>
  <% for release in @releases %>
    <tr>
      <td><%= release.project_id %></td>
      <td><%= release.name %></td>
      <td><%= release.date_released %></td>
      <td><%= link_to "Show", project_release_path(@project, release) %></td>
      <td><%= link_to "Edit", edit_project_release_path(@project, release) %></td>
      <td><%= link_to "Destroy", project_release_path(@project, release), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Release", new_project_release_path %> | <%= link_to "Back to Project", project_path(@project) %></p>
