<% title "Release" %>

<p>
  <strong>Project:</strong>
  <%= @release.project_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>
<p>
  <strong>Date Released:</strong>
  <%= @release.date_released %>
</p>

<p>
  <%= link_to "Edit", edit_project_release_path(@project, @release) %> |
  <%= link_to "Destroy", project_release_path(@project, @release), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Project [#{@project.project_name}] Page", project_path(@project) %>
</p>

<h2> Stories </h2>

<table border = 3>
  <tr>
    <th>Release</th>
    <th>User</th>
    <th>Priority</th>
    <th>Story Name</th>
    <th>Story Description</th>
    <th>Status</th>
  </tr>
  <% for story in @stories %>
    <tr>
      <td><%= story.release_id %></td>
      <td><%= story.user_id %></td>
      <td><%= story.priority %></td>
      <td><%= story.story_name %></td>
      <td><%= story.story_description %></td>
      <td><%= story.status %></td>
      <td><%= link_to "Show", project_story_path(@project, story) %></td>
      <td><%= link_to "Edit", edit_project_story_path(@project, story) %></td>
      <td><%= link_to "Destroy", project_story_path(@project, story), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
