<% title "Release" %>

<p>
  <strong>Project:</strong>
  <%= @release.project_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>
<p>
  <strong>Date Released:</strong>
  <%= @release.date_released %>
</p>

<p>
  <%= link_to "Edit", edit_project_release_path(@project, @release) %> |
  <%= link_to "Destroy", project_release_path(@project, @release), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_releases_path(@project) %> |
  <%= link_to "Stories", project_stories_path(@project) %>
  
</p>
