<% title "Release" %>

<p>
  <strong>Project:</strong>
  <%= @release.project_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>
<p>
  <strong>Date Released:</strong>
  <%= @release.date_released %>
</p>

<p>
  <%= link_to "Edit", edit_project_release_path(@project, @release) %> |
  <%= link_to "Destroy", project_release_path(@project, @release), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Project [#{@project.project_name}] Page", project_path(@project) %>
</p>

<h2> Stories </h2>

<%= render "story" %>

