<!DOCTYPE html>
<html>
<head>
  <title>ECCFinalProject</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

 <div id="nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.name %></br>
          Role <%= current_user.role %>
        <%= link_to "Logout", destroy_user_session_path %>


        <% end %>
    </div>

<%= yield %>

</body>
</html>
